@model YourNamespace.ViewModels.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Yönetim Paneli | Kullanıcı Giriş Ekranı</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/static/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/static/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/static/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/static/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="~/static/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/static/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="~/static/global/css/components-rounded.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/static/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="~/static/pages/css/login-3.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<body class="login">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="index.html">
            <img src="~/images/login_128.png" alt="" />
        </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        <div id="alerts_area"> </div>
        <form class="login-form" action="@Url.Action("Check", "Login")" method="post" id="frm">
            <h3 class="form-title">Kullanıcı Giriş Ekranı</h3>
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span> HATA METNİ </span>
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Kullanıcı Adı</label>
                <div class="input-icon">
                    <i class="fa fa-user"></i>
                    @Html.TextBoxFor(m => m.Login.UserName, new { @class = "form-control placeholder-no-fix soe", @placeholder = "Kullanıcı Adı", @autocomplete = "off", @tabindex = "1" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Şifre</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    @Html.PasswordFor(m => m.Login.Password, new { @class = "form-control placeholder-no-fix soe", @placeholder = "Şifre", @autocomplete = "off", @tabindex = "2" })
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn green pull-right" id="btnLogin" tabindex="3"> Giriş </button>
                    <!-- şu alttaki butonu kayıt olma sayfasına yönlendşrmesi için ekledim-->
                    <a href="@Url.Action("Register","Register")" class="btn green pull-left" id="btnLogin" tabindex="4">Kayıt Ol</a>
                <br />
            </div>
        </form>
        <!-- END LOGIN FORM -->
    </div>
    <!-- END LOGIN -->
    <!--[if lt IE 9]>
    <script src="~/static/global/plugins/respond.min.js"></script>
    <script src="~/static/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    <script src="~/static/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/static/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/static/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="~/static/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/static/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/static/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/static/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="~/static/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/static/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="~/static/global/scripts/app.min.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <!-- END THEME LAYOUT SCRIPTS -->
    <script type="text/javascript">

        jQuery(document).ready(function () {
            var res = @Html.Raw(Json.Encode(TempData["ShowAlert"]));
            var mes = @Html.Raw(Json.Encode(TempData["AlertMessage"]));
            if(res=="1")
            {
                App.alert({
                    container: '#alerts_area',
                    place: 'append', // append or prepent in container
                    type: 'warning',  // info-success-danger-warning
                    message: mes,  // alert's message
                    close: '1', // make alert closable
                    reset: '1', // close all previouse alerts first
                    focus: '1', // auto scroll to the alert after shown
                    closeInSeconds: '7', // auto close after defined seconds
                    icon : ''
                });
                updateTempData("ShowAlert","0");
            }
        });

        function updateTempData(pn,pv){
            var _data = {n: pn,v: pv};
            $.ajax({
                type: "POST",
                url: '@Url.Action("SetTempData", "Base")',
                data: JSON.stringify(_data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function() {
                }
            });
        }

        $('.soe').keydown(function(event) {
            // enter has keyCode = 13, change it if you want to use another button
            if (event.keyCode == 13) {
                this.form.submit();
                return false;
            }
        });

        $('#btnLogin').click(function (event) {
            return $('#frm').valid();
        });

        //şifrelerin eşitlik kontrolü 
        $.validator.addMethod("notEqual", function (value, element, param) {
            return this.optional(element) || value !== $(param).val();
        }, "Kullanıcı adı ve şifre aynı olamaz.");

        $('#frm').validate({
            rules: {
                'UserName': {
                    minlength: 3,
                    maxlength: 100,
                    required: true
                },
                'Password': {
                    minlength: 6,
                    maxlength: 100,
                    required: true,
                    notEqual: '#UserName'
                },
            },
            messages: {
                'UserName': {
                    required: "Kullanıcı adı zorunludur.",
                    minlength: "Kullanıcı adı en az {0} karakter olmalıdır.",
                    maxlength: "Kullanıcı adı en fazla {0} karakter olmalıdır."
                },
                'Password': {
                    required: "Şifre zorunludur.",
                    minlength: "Şifre en az {0} karakter olmalıdır.",
                    maxlength: "Şifre en fazla {0} karakter olmalıdır.",
                    notEqual: "Şifre, kullanıcı adıyla aynı olamaz."
                },
            },
            invalidHandler: function (event, validator) {
                var error = $('.alert-danger', $(this));
                error.empty();

                error.append('<button class="close" data-close="alert"></button>');

                var errors = validator.errorMap;

                $.each(errors, function (key, value) {

                    error.append(value);

                });
                error.show();
                App.scrollTo(error, -200);
                return false;
            },

            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            },
            success: function (label) {
                label.closest('.form-group').removeClass('has-error');
            },
            submitHandler: function (form) {
                $('.alert-danger', $(this)).hide();
                return true;
            },
            errorPlacement: function (error, element) { }
        });
    </script>
</body>
</html>
